.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/image21.png")}
.u-section-1 .u-sheet-1 {min-height: 443px}
.u-section-1 .u-text-1 {line-height: 0.6; background-image: none; letter-spacing: 1px; animation-duration: 1000ms; text-shadow: 1px 3px 3px rgba(0,0,0,1); font-size: 3.75rem; text-transform: uppercase; font-weight: normal; margin: 241px auto 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 445px} }

@media (max-width: 991px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 451px}
.u-section-1 .u-text-1 {width: auto; margin-top: 248px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 340px}
.u-section-1 .u-text-1 {margin-top: 178px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 304px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: 174px} }.u-section-2 .u-sheet-1 {min-height: 1218px}
.u-section-2 .u-text-1 {font-size: 1.25rem; margin: 20px auto 0 32px}
.u-section-2 .u-btn-1 {padding: 0}
.u-section-2 .u-text-2 {font-size: 1.25rem; margin: -545px 1441px 0 -301px}
.u-section-2 .u-btn-2 {padding: 0}
.u-section-2 .u-text-3 {font-size: 1.25rem; margin: -545px 1441px 0 -301px}
.u-section-2 .u-btn-3 {padding: 0}
.u-section-2 .u-text-4 {font-size: 1.25rem; margin: -545px 1441px 20px -301px}
.u-section-2 .u-btn-4 {padding: 0}
.u-section-2 .u-text-5 {font-size: 1.25rem; margin: -545px 1441px 60px -301px}
.u-section-2 .u-btn-5 {padding: 0}
.u-section-2 .u-text-6 {font-size: 1.25rem; margin: -545px 1441px 60px -301px}
.u-section-2 .u-btn-6 {padding: 0}
.u-section-2 .u-text-7 {letter-spacing: 2px; text-transform: uppercase; font-size: 1.875rem; font-weight: 300; text-decoration: underline !important; margin: 71px 840px 0 0}
.u-section-2 .u-text-8 {font-size: 1.25rem; text-decoration: underline !important; margin: 19px 878px 0 30px}
.u-section-2 .u-btn-7 {padding: 0}
.u-section-2 .u-custom-html-1 {min-height: 865px; margin: -84px 13px 0 358px}
.u-section-2 .u-text-9 {font-size: 1.25rem; margin: -683px auto 0 94px}
.u-section-2 .u-btn-8 {padding: 0}
.u-section-2 .u-text-10 {font-size: 1.25rem; margin: -123px auto 0 81px}
.u-section-2 .u-btn-9 {padding: 0}
.u-section-2 .u-text-11 {font-size: 1.25rem; margin: 104px auto 0 62px}
.u-section-2 .u-btn-10 {padding: 0}
.u-section-2 .u-btn-11 {background-image: none; font-size: 1.5rem; border-style: none; box-shadow: 0 2px 15px 0 rgba(0,0,0,1); animation-duration: 1000ms; margin: 159px auto 0 14px; padding: 10px 25px 10px 23px}
.u-section-2 .u-text-12 {font-size: 1.25rem; font-weight: 700; margin: -96px 893px 0 39px}
.u-section-2 .u-text-13 {font-size: 1.25rem; margin: -276px auto 0 60px}
.u-section-2 .u-btn-12 {padding: 0}
.u-section-2 .u-text-14 {font-size: 1.25rem; margin: 111px auto 0 56px}
.u-section-2 .u-btn-13 {padding: 0}
.u-section-2 .u-image-1 {width: 210px; height: 248px; margin: 227px auto 60px 37px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 1271px}
.u-section-2 .u-text-2 {width: auto; margin-right: 1341px; margin-left: 121px}
.u-section-2 .u-text-3 {width: auto; margin-right: 1341px; margin-left: 104px}
.u-section-2 .u-text-4 {width: auto; margin-right: 1341px; margin-left: 86px}
.u-section-2 .u-text-5 {width: auto; margin-right: 1341px; margin-left: 36px}
.u-section-2 .u-text-6 {width: auto; margin-right: 1341px; margin-left: 80px}
.u-section-2 .u-text-7 {width: 225px; margin-top: 45px; margin-left: auto; margin-right: auto}
.u-section-2 .u-text-8 {width: auto; margin-top: 27px; margin-right: 583px; margin-left: 246px}
.u-section-2 .u-custom-html-1 {min-height: 872px; height: auto; margin-top: 241px; margin-right: 95px; margin-left: 77px}
.u-section-2 .u-text-9 {width: auto; margin-top: -1145px; margin-right: 259px; margin-left: auto}
.u-section-2 .u-text-10 {width: auto; margin-top: -32px; margin-left: 404px}
.u-section-2 .u-text-11 {width: auto; margin-top: 27px; margin-left: auto}
.u-section-2 .u-btn-11 {margin-top: 128px; margin-right: 95px; margin-left: auto; padding: 3px 13px}
.u-section-2 .u-text-12 {width: auto; margin-top: -32px; margin-right: 614px; margin-left: 77px}
.u-section-2 .u-text-13 {width: auto; margin-top: -204px; margin-left: 182px}
.u-section-2 .u-text-14 {width: auto; margin-top: -32px; margin-right: 182px; margin-left: auto}
.u-section-2 .u-image-1 {width: 119px; height: 141px; margin-top: 30px; margin-left: 407px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 768px}
.u-section-2 .u-text-1 {width: auto; margin-top: 106px; margin-left: 303px}
.u-section-2 .u-btn-1 {border-style: solid}
.u-section-2 .u-text-2 {margin-top: 231px; margin-right: 274px; margin-left: 258px}
.u-section-2 .u-text-3 {margin-top: -246px; margin-right: 286px; margin-left: 275px}
.u-section-2 .u-text-4 {margin: 129px 266px 0 256px}
.u-section-2 .u-text-5 {margin: -140px 201px 0 191px}
.u-section-2 .u-text-6 {margin: 21px 266px 0 250px}
.u-section-2 .u-text-7 {margin-top: -243px; margin-left: 248px; margin-right: 248px}
.u-section-2 .u-text-8 {width: 288px; margin-top: 52px; margin-left: auto; margin-right: auto}
.u-section-2 .u-custom-html-1 {width: 634px; margin-left: 0; margin-right: 0}
.u-section-2 .u-text-9 {margin-top: -1120px; margin-right: 198px}
.u-section-2 .u-text-10 {margin-left: 309px}
.u-section-2 .u-btn-11 {margin-top: 581px; margin-right: auto; margin-left: 231px}
.u-section-2 .u-text-12 {margin-top: -76px; margin-right: 137px; margin-left: 121px}
.u-section-2 .u-text-13 {margin-left: 139px}
.u-section-2 .u-text-14 {margin-right: 139px}
.u-section-2 .u-image-1 {margin-top: -223px; margin-left: 297px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 748px}
.u-section-2 .u-text-1 {margin-top: 107px; margin-right: 214px; margin-left: auto}
.u-section-2 .u-text-2 {width: 183px; margin-top: 227px; margin-left: auto; margin-right: auto}
.u-section-2 .u-text-3 {margin-top: -242px; margin-right: 200px; margin-left: 190px}
.u-section-2 .u-text-4 {width: 198px; margin-top: 125px; margin-left: auto; margin-right: auto}
.u-section-2 .u-text-5 {width: 328px; margin-top: -136px; margin-left: 106px; margin-right: 106px}
.u-section-2 .u-text-6 {width: 205px; margin-top: 19px; margin-left: auto; margin-right: auto}
.u-section-2 .u-text-7 {width: 331px; margin-top: -239px; margin-left: 105px; margin-right: 105px}
.u-section-2 .u-text-8 {margin-right: 70px}
.u-section-2 .u-custom-html-1 {width: 540px}
.u-section-2 .u-text-9 {margin-right: 149px; margin-left: 221px}
.u-section-2 .u-text-10 {margin-left: 204px}
.u-section-2 .u-btn-11 {margin-top: 558px; margin-left: 144px}
.u-section-2 .u-text-12 {margin-right: 110px; margin-left: 100px}
.u-section-2 .u-text-13 {margin-left: 183px}
.u-section-2 .u-text-14 {margin-right: 104px; margin-left: 0}
.u-section-2 .u-image-1 {margin-top: -222px; margin-left: 216px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 749px}
.u-section-2 .u-text-1 {margin-top: 109px; margin-right: auto}
.u-section-2 .u-text-2 {margin-top: 215px}
.u-section-2 .u-text-3 {width: 136px; margin-top: -234px; margin-left: 102px; margin-right: 102px}
.u-section-2 .u-text-4 {width: 174px; margin-top: 119px}
.u-section-2 .u-btn-4 {width: 169px; height: 24px}
.u-section-2 .u-text-5 {width: 103px; margin-top: -132px; margin-left: 119px; margin-right: 119px}
.u-section-2 .u-text-6 {width: auto; margin-top: 17px; margin-right: 83px; margin-left: 52px}
.u-section-2 .u-text-7 {width: auto; margin-top: -233px; margin-right: 51px; margin-left: 64px}
.u-section-2 .u-text-8 {margin-right: 229px}
.u-section-2 .u-custom-html-1 {width: 340px}
.u-section-2 .u-text-9 {margin-right: 94px; margin-left: 139px}
.u-section-2 .u-text-10 {margin-left: auto}
.u-section-2 .u-btn-11 {margin-left: auto}
.u-section-2 .u-text-12 {width: 226px; margin-left: 57px; margin-right: 57px}
.u-section-2 .u-text-13 {margin-left: 115px}
.u-section-2 .u-text-14 {margin-right: 65px}
.u-section-2 .u-image-1 {margin-top: -226px; margin-left: auto} }.menu {
	color: orange;
}
.menu:hover {
	border-top: 2px solide white;
}